:root {
    --pink: rgb(252, 117, 117);
    --lavender: rgb(220, 152, 223);
    --lightPink: rgb(252, 198, 191);
    --blue: rgb(73, 178, 248);
    --transparent: rgba(255, 255, 255, 0);
    --grey: rgb(0, 0, 0);

    font-family: 'BioRhyme', serif;
}

body {
    margin: 0;
}

#back {
    margin: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    /* justify-content: space-between; */

}

#left {
    min-height: 100vh;
    /* flex-grow: 2; */
    width: 60%;
    max-width: 60%;
}

#innerLeft {
    position: relative;
    margin: 5rem; 
    z-index: 10;
}

.select {
    font-family: 'BioRhyme', serif;    
}

#right {
    min-height: 100vh;
    /* flex-grow: 1; */
    width: 40%;
    max-width: 40%;
    background: var(--grey);
    /* background: linear-gradient(270, var(--lightPink), var(--transparent));
    animation: backgroundAni 7s ease 0ms infinite alternate none; */
}

@keyframes backgroundAni {
    0% {background: linear-gradient(270deg, var(--lightPink), var(--blue), var(--lavender));}
    50% {background: linear-gradient(270deg, var(--blue), var(--lavender), var(--pink));}
    100% {background: linear-gradient(270deg, var(--lavender), var(--pink), var(--lightPink));}
} 

#circleDiv {
    position: absolute;
    top: calc(50vh - 100px);
    left: 0;
    width: 100vw;
    min-width: 100vw;
    height: 100vh;
    min-height: 100vh;
}

#moon {
    position: relative;
    margin: 0;
    padding: 0;
    fill: var(--grey);
    stroke: white;
    stroke-width: 2px;
    left: calc(60% - 200px);
}